#contact{
    background-color: #1b263b;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: auto;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    color: rgb(240, 248, 255);
}

.contact h2{
    font-size: 38px;
    color: rgb(240, 248, 255);
}

.media{
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.Contacto-btn1{
    display: flex;  
    align-items: center;
    justify-content: center;
    border: 4px solid #dce799;
    background-color:#fbff1d;
    transition: 0.3s ease;
    border-radius: 500px;
    width: 140px;
    height: 65px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    
}
.Contacto-btn1:hover {
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);
  background-color: #69b2e6;
  transform: translateY(-3px);
  border: 4px solid #69b2e6;
}