    .header{
        background-color: #1b263b;
        height: max-content;
        z-index: 500;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .header-sections{
        background-color: #1b263b;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 1750px;
        margin: 0 auto;
    }

    .header-title{
        margin-left: 15%;
    }

    .header-sections h3 {
        font-family: "Merriweather", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings:
            "width" 100;
        font-size: 35px;
        color: rgb(240, 248, 255);
    }

    .header-btnera{
        margin-right: 15%;
        display: flex;
        font-family: "Merriweather", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings:"width" 100;
        text-decoration: none;
    }

    a {
        text-decoration: none;
        color: rgb(240, 248, 255);
        margin: 5%;
        font-size: 25px;
    }

    a:hover {
        text-decoration: underline;
    }



/* Desktop */
@media (max-width: 1366px) {

    .header-title{
        display: flex;
        align-items: center;
    }

    .header-sections h3 {
        font-size: 25px;
    }
}

/* laptot pequeña */
@media (max-width: 800px) {
    .header{
        max-width: 800px
    }
    .header-title{
        display: flex;
        align-items: center;
    }

    .header-sections {
        max-width: 800px
    }
    .header-sections h3 {
        font-size: 25px;
    }
}

/* laptot pequeña */
@media (max-width: 412px) {
        .header{
        max-width: 412px
    }
    .header-title{
        display: flex;
        align-items: center;
        margin-left: 0%;
    }

    .header-sections {
        max-width: 412px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-sections h3 {
        font-size: 13px;
    }
    .header-btnera a{
        font-size: 12px;
    }
}
