#Proyectos{
    display: flex;
    justify-content: center;
}

.Proyectos-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1300px;
    width: 1400px;
    background-color: #1b263b;
    justify-content: center;
}
.section-titulo{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    color: rgb(240, 248, 255);
}

.section-titulo h1{
    margin-top: 25px;
    font-size: 37px;
}
.section-text{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
    font-size: large;
    color: rgb(240, 248, 255);
}

.section-text a{
    font-size: 28px;
}

.section-group-flecha{
    display: flex;
    width: 1750px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    background-color: #1b263b;
    position: sticky;
}

.btn-flecha{
    background-color: #1b263b;
    border: none;
    border-radius: 8px;
}

.img-flecha{
    max-width: 65px;
    position: sticky;
}


