.proyectos {
    background-color: #1b263b;
    height: 90rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.proyectos-titulo {
    padding-top: 5%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgb(240, 248, 255);
}

.proyectos-comentario {
    padding-top: 6%;
    padding-left: 14%;
    padding-right: 10%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgb(240, 248, 255);
    font-size: 70%;
}

.proyectos-cards {
    padding-top: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 480px) {
    .proyectos {
        background-color: #1b263b;
        height: 140rem;
    }
}

@media (min-width: 1366px) {

    .proyectos {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .proyectos-titulo {
        font-size: 3rem;
    }

    .proyectos-comentario {
        font-size: 1.5rem;
        padding-left: 10%;
        padding-right: 10%;
    }

    .proyectos-cards {
        padding-top: 6%;
        display: block;
    }

}