.body{
    background-color: #1b263b;
    display: flex;
    justify-content: center;
}

.body2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 785px;
    width: 1400px;
    background-color: #1b263b;
}

.body .titulo{
  animation: fadeInOut 3s infinite;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 85px;
  color: rgb(240, 248, 255);
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}


.body-text{
    width: 80%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    font-size: 20px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: rgba(240, 248, 255, 0.733);
}

.body-btnera{
    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.body-btn1{
    display: flex;  
    align-items: center;
    justify-content: center;
    border: 4px solid #013a63;
    background-color:#174763;
    transition: 0.3s ease;
    border-radius: 500px;
    width: 140px;
    height: 65px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    
}
.body-btn1:hover {
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);
  background-color: #013a63;;
  transform: translateY(-3px);
  border: 4px solid #013a63;
}

.body-btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #1b802c;
    background-color:#1f9933;
    transition: 0.3s ease;
    border-radius: 500px;
    width: 140px;
    height: 65px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
}
.body-btn2:hover {
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);
  background-color: rgb(29, 121, 75);
  transform: translateY(-3px);
  border: 4px solid rgb(38, 112, 75);
}
