.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b263b;
}

.header-sections {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #1b263b;
    margin-top: 55px;
    margin-bottom: 10px;
    height: 45px;
    width: 1400px;
    position:fixed;
    z-index: 500;
}

.header-sections h3 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    font-size: 28px;
    color: rgb(240, 248, 255);
}

.header-btnera {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: rgb(240, 248, 255);
    margin: 5%;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}

.btnera-btn {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    text-decoration: none;
    font-size: 20px;
}