.habilidades {
    background-color: #1b263b;
    height: 58rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades-title {
    padding-top: 1rem;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 6rem;
    color: rgb(240, 248, 255);
}

.habilidades-Cards {
    padding-top: 2rem;
}

@media (max-width: 480px) {
    .habilidades {
        background-color: aquamarine;
        height: auto;
    }
}

@media (max-width: 1366px) {
    .groupcard {
        display: flex;
        height: 18rem;
    }

    .habilidades {
        height: 44rem;
    }

    .habilidades-title {

        margin-top: 4rem;
        margin-bottom: 5rem;
    }
}