.footer{
    background-color:#1b263b;
    display: flex;
    height: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(240, 248, 255);
    margin-bottom: 0%;
}
@media (max-width: 800px) {
    #contact{
        width: auto;
    }
    .footer{
        width: auto;
    }
    .footer p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 412px) {
    .footer p{
        font-size: 12px;
    }
    .footer{
        width: 412px;
    }
}