.footer{
    background-color:#1b263b;
    display: flex;
    width: 80%;
    height: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(240, 248, 255);
    margin-bottom: 0%;
}